body {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0;
}

/* Header */

.headercontainer {
  display: flex;
  justify-content: space-between;
}

.uppercontainer {
  padding: 10px 64px 64px 64px;
  background-color: #1f2937;
}

.logo {
  display: flex;
  justify-content: center;
  font-size: 26px;
  font-weight: 700;
  background-color: black;
  border-radius: 10px;
  padding: 5px;
  color: white;
  width: 125px;
}

.links {
  display: flex;
  gap: 16px;
}

.links a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  padding: 5px;
  border-radius: 10px;
  background-color: white;
  text-decoration: none;
  font-size: 22px;
  font-weight: 700;
  width: 100px;
}

/* Bungee Gum Info */
.gumcontainer {
  display: flex;
  margin: 100px 0px;
  justify-content: center;
  gap: 32px;
}

.gumtext {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.gumtext button {
  background-color: plum;
  padding: 8px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: white;
}

.bungee {
  color: white;
  font-size: 48px;
  font-weight: 900;
}

.ability {
  color: white;
  max-width: 200px;
  flex-wrap: wrap;
}

img.gum {
  width: 450px;
  height: auto;
  border-radius: 5px;
  border: solid plum 5px;
}

div {
  font-family: "Roboto", sans-serif;
}

/* Hisoka Facts */

.facts {
  display: flex;
  justify-content: center;
  font-size: 36px;
  font-weight: bold;
  padding: 36px;
  color: black;
}

.pics img {
  height: 150px;
  width: 300px;
  border-radius: 10px;
}

.picscontainer {
  display: flex;
  gap: 50px;
  justify-content: center;
  margin-bottom: 36px;
}

.pics {
  display: flex;
  max-width: 300px;
  flex-wrap: wrap;
}

/* quote */

.quotecontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px;
  background-color: #e5e7eb;
}

.quote {
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
  font-size: 36px;
  width: 500px;
  height: auto;
}

.author {
  display: flex;
  justify-content: flex-end;
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
}

/* Buy now */
.outfitcontainer {
  display: flex;
  justify-content: center;
  padding: 64px;
}

.outfitcont {
  display: flex;
  padding: 48px 84px;
  border-radius: 5px;
  background-color: black;
  width: 800px;
  justify-content: space-between;
}

.outfitcontainer a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.action {
  font-size: 24px;
  color: white;
}

.smallaction {
  font-size: 16px;
  color: white;
}

.outfitcontainer button {
  cursor: pointer;
  color: white;
  border-radius: 5px;
  border: solid white 2px;
  background-color: plum;
  width: 100px;
  height: 50px;
}

/* Footer */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  color: white;
  padding: 32px;
}
